body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new-todo-group {
  margin-bottom: 1rem;
}
.filter-button-group {
  border: 1px solid black;
  padding: 10px;
}

button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
  background-color: rgb(121, 230, 230);
  border: 3px solid rgb(121, 230, 230);
  font-size: 1rem;
  border-radius: 5px;
}

button:active,
button:focus,
button:hover {
  border: 3px solid black;
  border-radius: 0px;
}

input[type="text"] {
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.filters-label {
  font-family: sans-serif;
}
ul {
  margin: 1rem 0 0 0;
  padding: 0;
  list-style: none;
}

label > input[type="checkbox"]:checked + span {
  text-decoration: line-through;
  color: grey;
}
