body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new-todo-group {
  margin-bottom: 1rem;
}
.filter-button-group {
}

button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
  background-color: rgb(121, 230, 230);
  border: 3px solid rgb(121, 230, 230);
}

button:active,
button:focus,
button:hover {
  border: 3px solid black;
}
